
<div class="navigator">
    <h1 class="title text-center" routerLink="/home">LOGO</h1>
    
    <ul>
        <li class="navigator-link"> 
            <mat-icon class="selected" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span>Inicio</span>
        </li>
        <li class="navigator-link"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_balance_wallet"></mat-icon>
            <span>Tarjetas</span>
        </li>
        <li class="navigator-link"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
            <span>Prestamos</span>
        </li>
        <li class="navigator-link"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="sync_alt"></mat-icon>
            <span>Operaciones</span>
        </li>
        <li class="navigator-link"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_play"></mat-icon>
            <span>Te ofrecemos</span>
        </li>
        <li class="navigator-link"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shield"></mat-icon>
            <span>Seguros</span>
        </li>
        <li class="navigator-link"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="redeem"></mat-icon>
            <span>Puntos</span>
        </li>
        <li class="navigator-link"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="help"></mat-icon>
            <span>Ayuda</span>
        </li>
        <li class="navigator-link"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
            <span>Cerrar Sesión</span>
        </li>
    </ul>
</div>