<div class="home">
    <section class="hero container-center" uk-grid>
  
      <div class="hero--info container-center text-center mt-2" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        <h1 class="h2 mb-2">Bienvenido</h1>
        <h3 class="h3 mb-2">Espero le agrade el proyecto</h3>
        <div>
            <button mat-raised-button routerLink="/login" color="primary" class="mr-2">Iniciar Sesión</button>
            <button mat-raised-button routerLink="/register" color="primary">Registrarse</button>
        </div>
      </div>
      
      <img class="hero--img" src="../../../../../assets/img/business-man.webp" alt="business man image" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
  
    </section>
</div>