.container {
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  position: relative;
}

.container-top {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0.8rem 0 0.8rem;
}

mat-icon {
  border-radius: 50%;
  color: white;
  outline: 5px solid;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.m-0 {
  margin: 0;
}
