.dashboard {
  background-color: #f5f5f5;
  display: flex;
  min-height: 100vh;
}

.dashboard-navigator {
  width: 350px;
}

.dashboard-main {
  flex: 1 1 auto;
  padding: 0 2rem;
}

.layout{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

app-balance{
  flex: 1 1 auto;
}

//
.desktop {
  display: none;
}

@media screen and (min-width: 720px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
}
