/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
}

// Reset
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

:root {
  // Primary de Angular Material
  --primary: rgb(63, 81, 181);
  --primary-dark: #353a60;
}

// Utilidades
.d-flex{
  display: flex;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-1{
  gap: 1rem;
}

.h2 {
  font-size: 3rem !important;
}

.h3 {
  font-size: 2rem !important;
}

.m-2 {
  margin-bottom: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.primary{
  color: var(--primary) !important;
}

.primary-dark{
  color: var(--primary-dark) !important;
}

.text-light{
  color: #f3f3f3;
}

.text-center{
  text-align: center;
}